{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "@vue/standard"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 8,
    "sourceType": "module"
  }
}